$default-font-family: Roboto,
sans-serif;
$active-link-color: #3e7af1;
$hover-link-color: #739df1;

.todo-item {
    &--item {
        padding: 30px 0;
        border-bottom: 1px solid #EDEDED;

        &:focus {
            outline: 2px solid $hover-link-color;
            border-radius: 10px;
        }
    }

    &__text {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #5C5C5C;
        margin-right: 60px;

        &--name {
            @extend .todo-item__text;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    &__btn-group {
        float: right;
    }

    &__btn {
        margin: 0 18px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        color: #5C5C5C;
        cursor: pointer;

        &.active {
            color: $active-link-color;
        }

        &:hover {
            color: $hover-link-color;
        }
    }
}