$default-font-family: Roboto, sans-serif;
$active-link-color: #3e7af1;
$hover-link-color: #739df1;

body {
    background-color: white;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;

    .header {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-family: $default-font-family;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #0B4870;
        }

        &__navlink {
            font-family: $default-font-family;
            font-weight: 400;
            font-size: 22px;
            margin: 12px;
            line-height: 26px;
            color: #5C5C5C;
            cursor: pointer;
            text-decoration: none;

            &.active {
                color: $active-link-color;
            }

            &:hover {
                color: $hover-link-color;
                text-decoration: underline;
            }
        }
    }

    .main {
        margin-top: 100px;
    }
}